@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using Snackis_Forum_.Areas.Identity.Data

@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager
@{
    ViewData["Title"] = "Hem";
}

<div>
    <div>
        <div class="text-center mb-5">
            <h1 class="display-4 font-weight-bold" style="margin-top:50px; margin-bottom:50px">@Model.SiteTitle.MainTitle</h1>
            <p>Välkommen till vårt forum <br />
            Hoppa rakt in i en diskussion som gäst eller skapa ett konto så att våra användare känner igen dig</p>
        </div>
        @if (Model.SubjectList != null)
        {
            @foreach (var subject in Model.SubjectList)
            {
                <table class="table table-sm table-success m-0 ml-auto mr-auto" style="width:80%;">
                    <thead>
                        <tr class="bg-success text-center ">
                            <th>
                                <a class="text-dark" asp-page="/ThreadIndex" asp-route-SubjectId="@subject.Id">
                                    @subject.Name
                                </a><span class="font-italic float-right font-weight-normal">(Visar senaste 5 skapade trådar)</span>
                            </th>
                    </thead>
                </table>
                <table class="table table-sm table-success ml-auto mr-auto" style="width:80%;">
                    <thead>
                        <tr class="table-success">
                            <td class="font-weight-bold">
                                Rubrik
                            </td>
                            <td class="font-weight-bold">
                                Startad av
                            </td>
                            <td class="font-weight-bold">
                                Skapad
                            </td>
                            <td class="font-weight-bold">
                                Senaste inlägg
                            </td>
                        </tr>
                    </thead>
                    @foreach (var thread in Model.ThreadList.Where(s => s.SubjectId == subject.Id).OrderByDescending(s => s.CreationDate).Take(5))
                    {
                        <tr class="table-success p-2">
                            <td>
                                <a class="text-dark" asp-page="/Posts" asp-route-ThreadId="@thread.Id">
                                    @thread.TreadTitle
                                </a>
                            </td>
                            <td>
                                @if (@thread.AuthorId == "")
                                {
                                    <p>Gäst</p>
                                }
                                else
                                {
                                    if ((UserManager.FindByIdAsync(@thread.AuthorId).Result) == null)
                                    {
                                        <p>Borttagen</p>
                                    }
                                    else
                                    {
                                        @UserManager.FindByIdAsync(@thread.AuthorId).Result.NickName
                                    }
                                }
                            </td>
                            <td>
                                @thread.CreationDate.ToShortDateString() @thread.CreationDate.ToShortTimeString()
                            </td>
                            <td>
                                @thread.LatestPost.ToShortDateString() @thread.LatestPost.ToShortTimeString()
                            </td>
                        </tr>
                    }
                </table>
                <br />
                <br />
            }
        }
    </div>
</div>