@page
@model Snackis_Forum_.Pages.PostsModel
@using Microsoft.AspNetCore.Identity
@using Snackis_Forum_.Areas.Identity.Data

@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager
@{
    ViewData["Title"] = "Diskussion";
}

<div>
    <div>

        @if (Model.ThreadList != null)
        {
            <div class="text-center mt-md-5 mb-md-5">
                @foreach (var thread in Model.ThreadList.Where(t => t.Id == Model.ThreadId))
                {
                    <table class="table table-primary m-0 ml-auto mr-auto table-bordered shadow p-3 rounded" style="width:80%;">
                        <thead>
                            <tr>
                                <th>
                                    <h2>@thread.TreadTitle</h2>
                                </th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
            <br />

            <div class="text-center justify-content-center">
                @if (Model.PostList != null)
                {
                    @foreach (var post in Model.PostList.Where(p => p.ThreadId == Model.ThreadId).OrderBy(p => p.PostDate))
                    {
                        <div class="text-left border border-dark mb-3 shadow" style="margin:auto; width:70%">
                            <div style="background-color: lightblue; height:30px">

                                <p>
                                    &ensp;Postat den: @post.PostDate.ToShortDateString() @post.PostDate.ToShortTimeString()
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-2 mt-2 ml-2">
                                    @if (post.Author == "")
                                    {
                                        <img src="~/img/user_profile_picture.png" class="img-thumbnail img-fluid" alt="Profilbild">
                                    }
                                    else if (@UserManager.FindByIdAsync(post.Author).Result.ProfilePicture != null)
                                    {
                                        <img src="~/img/@UserManager.FindByIdAsync(post.Author).Result.ProfilePicture" class="img-thumbnail img-fluid" alt="Profilbild" />
                                    }
                                    else
                                    {
                                        <img src="~/img/user_profile_picture.png" class="img-thumbnail img-fluid" alt="Profilbild">
                                    }
                                    <p class="text-center">
                                        @if (post.Author == "")
                                        {
                                            <span>Gäst</span>
                                        }
                                        else
                                        {
                                            <span>@UserManager.FindByIdAsync(post.Author).Result.NickName</span>
                                        }
                                    </p>
                                </div>
                                <div class="col-9">
                                    <p class="mt-2" style="overflow-wrap:break-word;">@Html.Raw(post.Text)</p>
                                </div>
                            </div>
                            <div class="ml-1 mb-1 mr-1">
                                <button class="btn btn-sm btn-primary " onclick="ShowForm(@post.Id)">Svara</button>

                                @*Form for reporting a post*@
                                <form method="post" class="float-right">
                                    <input type="hidden" name="reported" value="@post.Id" />
                                    <input type="submit" class="btn btn-sm btn-danger" value="Anmäl inlägg" style="font-weight:normal" />
                                </form>

                                @*Form for answering a post which stays hidden until user hits the button "Svara" and the form will pop out underneith that post.*@
                                <div class="col-9 mt-2 mb-1" style="display:none;" id="@post.Id">
                                    <form method="post">
                                        <textarea rows="4" cols="75" name="posttext"></textarea>
                                        <input type="hidden" name="answerTo" value="@post.Id" />
                                        <input type="submit" class="btn btn-sm btn-primary" value="Skicka" onclick="HideForm(@post.Id)" />
                                        <button class="btn btn-sm btn-dark ml-2" onclick="HideForm(@post.Id)">Stäng</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>