@page
@model Snackis_Forum_.Pages.PrivateMessagesModel
@using Microsoft.AspNetCore.Identity
@using Snackis_Forum_.Areas.Identity.Data

@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager
@{
    ViewData["Title"] = "Meddelanden";
}

<h1>Privata meddelanden</h1>


<a class="btn btn-success" asp-page="/NewMessage">Nytt meddlande</a>

<div>
    <table class="table">
        <thead>
            <tr class="bg-success">
                <th scope="col">Rubrik</th>
                <th scope="col">Från</th>
                <th scope="col">Mottaget</th>
            </tr>
        </thead>

        @if (Model.MessageList != null)
        {
            @foreach (var message in Model.MessageList)
            {
                <tr class="table-success">
                    <td>
                        @if (message.Read == false)
                        {
                            <a class="text-dark font-weight-bold" asp-page="/MessageOpen" asp-route-MessageID="@message.Id">
                                @message.MessageTitle
                            </a>
                        }
                        else
                        {
                            <a class="text-dark" asp-page="/MessageOpen" asp-route-MessageId="@message.Id">
                                @message.MessageTitle
                            </a>
                        }
                    </td>
                    <td>
                        @UserManager.FindByIdAsync(message.SenderId).Result.NickName
                    </td>
                    <td>
                        @message.MessageSent
                    </td>
                </tr>
            }
        }

    </table>
</div>