@page
@model Snackis_Forum_.Pages.SiteAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Huvudtitlar för forumet</h2>
<p>
    <a asp-page="MainTitle/Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteTitle[0].MainTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SiteTitle.OrderBy(s => s.MainTitle))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MainTitle)
                </td>
                <td>
                    <a asp-page="MainTitle/Edit" asp-route-id="@item.Id">Redigera</a> |
                    <a asp-page="MainTitle/Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-page="MainTitle/Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach (var title in Model.SiteTitle.OrderBy(s => s.MainTitle))
{
    <h2>Kategorier för @title.MainTitle</h2>
    <p>
        <a asp-page="Subjects/Create" asp-route-TitleId="@title.Id">Skapa ny</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subjects[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model.Subjects.Where(s => s.SitetitleId == title.Id).OrderBy(s => s.Name))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => subject.Name)
                    </td>
                    <td>
                        <a asp-page="Subjects/Edit" asp-route-id="@subject.Id">Redigera</a> |
                        <a asp-page="Subjects/Details" asp-route-id="@subject.Id">Detaljer</a> |
                        <a asp-page="Subjects/Delete" asp-route-id="@subject.Id">Radera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
